h1 {
    text-align: center;
    color: blueviolet;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    align-self: center;
}

.board {
    display: grid;
    height: 400px;
    width: 400px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    gap: 2px;
    padding: 2px;
    background-color: yellow;
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*font-size: 2rem;*/
    font-size: 48px;
    border: 1px solid grey;
    background: lightyellow;
    cursor: pointer;
  }

  .result {
    font-size: 64px;
    color: crimson;
    align-self: center;
  }

  .btn {
    color: blue;
    border-radius: 25px;
    align-self: center;
    padding: 10px;
    font-size: 36px;
    background-color: bisque;
  }

  .btnn {
    align-self: center;
  }

  .winningCell {
    color: green;
  }